# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.runner.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity3D\UnityProjects\runner\.idea\.idea.runner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
